.feature__explain {
  padding-bottom: 60px;
}

.features {
  width: 70%;
  padding: 40px;
}
.feature {
  box-shadow: 0px 2px 2px #0000000a, 0px 8px 16px 0px #0000000a;
  padding: 32px;
  transition: transform 0.3s ease;
}
.feature:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transform: scale(1.05);
}
.feature:hover .feature__icons {
  transform: scale(1.08);
}

.feature__icons {
  padding: 12px 16px;
  transition: transform 0.3s ease;
}
.feature__icon {
  width: 22px;
  height: 22px;
  filter: invert(1);
}
.feature__button {
  width: 100%;
}
