.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 48px;
  background-color: oklch(0.15 0 0);
}

.footer__txt {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}
