.header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 10px 28px;

  background-color: #ffffffd6;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 0;
}

.header__img {
  height: 50px;
  cursor: pointer;
}
.header__img:hover {
  filter: invert(0.4);
}

.header__right {
  display: flex;
  gap: 40px;
}
.header__right__tap {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.header__right__tap:hover {
  filter: invert(0.4);
}
