.home {
  display: flex;
  flex-direction: column;
}
.home__title {
  font-size: 36px;
  font-weight: 600;
}
.home__subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #555555;
}

.home__guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 60px;
}
.home__guide__features {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 28px;
  padding: 40px;
}
.guide__features__feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  box-shadow: 0px 2px 2px #0000000a, 0px 8px 16px 0px #0000000a;
  border-radius: 12px;
  padding: 32px;

  transition: transform 0.3s ease;
  cursor: pointer;
}
.guide__features__feature:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transform: scale(1.05);
}
.features__feature__icons {
  border-radius: 12px;
  padding: 12px 16px;
  transition: transform 0.3s ease;
}
.guide__features__feature:hover .features__feature__icons {
  transform: scale(1.08);
}
.feature__icons__icon {
  width: 22px;
  height: 22px;
  filter: invert(1);
}
.bg-blue {
  background-color: #0096ff;
}
.bg-orange {
  background-color: #ffa200;
}
.bg-green {
  background-color: #07a707;
}
.bg-red {
  background-color: #ff2b2b;
}
.features__feature__title {
  font-size: 24px;
  font-weight: 600;
}
.features__feature__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #555555;
}
.features__feature__btn {
  width: 100%;
  font-size: 16px;
  color: #155dfc;
}

.home__festival {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: #eff6ff;
  padding: 100px;
}
.home__festival__features {
  width: 76%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;

  padding: 40px 0;
}
.festival__features__feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  background-color: #ffffff;
  box-shadow: 0px 2px 2px #0000000a, 0px 8px 16px 0px #0000000a;
  border-radius: 12px;
  padding-bottom: 24px;
}
.features__feature__img {
  border-radius: 12px 12px 0 0;
}
.features__feature__txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 12px;
}
