@media (max-width: 767px) {
  .category__section {
    width: 100%;
  }
}

.category__button {
  border: 1px solid #cad5e2;
  height: 36px;
  line-height: 14px;
}
.category__button.active,
.category__button:hover {
  color: #ffffff;
  background-color: #155dfc;
}
