.no__place {
  grid-column: span 3;
  padding: 60px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
@media (max-width: 480px) {
  .no__place {
    padding: 32px;
  }
}

.search__icon {
  width: 28px;
  height: 28px;
}
