main {
  min-height: 100vh;
  background-color: #f8fbff;
  padding: 40px 0 0;
}

/* 코스 짜보이소 사용 */
.map {
  grid-column: span 2 / span 2;
  height: 50vh;
  max-height: 500px;
  position: relative;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* 인자 머하노 사용 */
.donow__locate {
  position: relative;
}

/* 유튜바 코스 사용 */
.youtuber {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 32px;
  margin-top: 20px;
}

.divLine {
  border-bottom: 1px solid #e2e8f0;
}

.youtuber__buttons {
  margin-top: 10px;
}
.recommend__button:hover {
  background-color: #1447e6;
}
.home__button {
  border: 2px solid #cad5e2;
  padding: 12px;
}
.home__button:hover {
  background-color: #f4f4f4;
}
