* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

/* 정렬 */
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.j-center {
  justify-content: center;
}
.j-space-between {
  justify-content: space-between;
}
.a-center {
  align-items: center;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

/* 갭 */
.gap-8 {
  gap: 8px;
}
.gap-10 {
  gap: 10px;
}
.gap-16 {
  gap: 16px;
}
.gap-20 {
  gap: 20px;
}
.gap-24 {
  gap: 24px;
}
.gap-28 {
  gap: 28px;
}
.gap-40 {
  gap: 40px;
}

/* 배경 색 */
.bg-0096ff {
  background-color: #0096ff;
}
.bg-07a707 {
  background-color: #07a707;
}
.bg-0b0b0b {
  background-color: #0b0b0b;
}
.bg-eff6ff {
  background-color: #eff6ff;
}
.bg-ffa200 {
  background-color: #ffa200;
}
.bg-ff2b2b {
  background-color: #ff2b2b;
}
.bg-ffffff {
  background-color: #ffffff;
}
.bg-ffffffd6 {
  background-color: #ffffffd6;
}

/* 보더 */
.br-12 {
  border-radius: 12px;
}

/* 폰트 사이즈 */
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-24 {
  font-size: 24px;
}
.f-36 {
  font-size: 36px;
}

/* 폰트 웨이트 */
.w-400 {
  font-weight: 400;
}
.w-600 {
  font-weight: 600;
}

/* 폰트 색 */
.c-155dfc {
  color: #155dfc;
}
.c-555555 {
  color: #555555;
}
.c-ffffff {
  color: #ffffff;
}

.cursor {
  cursor: pointer;
}
