.plan__buttons {
  grid-column: span 1 / span 1;
  position: sticky;
  top: 100px;
  align-self: start;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 20px;
}
.buttons__day {
  padding: 20px;
  margin: 12px 0;
}
.buttons__day:hover {
  background-color: #1447e6;
}
.day__icon {
  height: 18px;
  padding: 0px 8px;
  filter: invert(1);
}
.buttons__clip {
  border: 2px solid #155dfc;
  padding: 12px;
}
.buttons__clip:hover {
  background-color: #f8fbff;
}
.clip__icon {
  padding: 0px 8px;
}
.buttons__move {
  border: 2px solid #cad5e2;
  padding: 12px;
}
.buttons__move:hover {
  background-color: #f4f4f4;
}
.move__icon {
  padding: 0px 8px;
}
