.search__result {
  grid-column: span 2 / span 2;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 24px;
}
@media (max-width: 480px) {
  .search__result {
    padding: 16px;
  }
}

.search__result__section {
  min-height: 100px;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .search__result__section {
    min-height: 60px;
  }
}

.place__border {
  border-bottom: 1px solid #cad5e2;
}
.place__section {
  padding: 12px 0px;
}
.plus__button {
  width: 28px;
  height: 28px;
}
.plus__button:hover {
  background-color: #1447e6;
}
@media (max-width: 480px) {
  .plus__button {
    width: 22px;
    height: 22px;
  }
}
